{% extends 'base.html.twig' %}

{% block title %}Residente: {{ residente.nombre }} {{ residente.primerapellido }} {% endblock %}
{% block stylesheets %}

    {{ parent() }}

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.js"></script>
        <script src="/js/graficos.js"> </script>
        <script>
            $(document).ready(function(){
                if (window.history.replaceState) { // verificamos disponibilidad
                    window.history.replaceState(null, null, window.location.href);
                }
                let ctotales = [];
                ctotales = JSON.parse('{{ constantesTotales | json_encode | raw }}');

                $('#graficos').fadeOut();
                document.querySelector("#canvasPadre").innerHTML = '<canvas id="graficos"></canvas>'
                pinchado=false;

                pintarChar(ctotales);
                pinchado=true;
                setTimeout(function() {
                    init();
                    addEventListener('resize', init, false);
                }, 15);
                $('.botonCollapse').click(function(){
                    if($(this).hasClass('fa-chevron-circle-down')){
                        $(this).removeClass('fa-chevron-circle-down');
                        $(this).addClass('fa-chevron-circle-up');
                    }else{
                        $(this).removeClass('fa-chevron-circle-up');
                        $(this).addClass('fa-chevron-circle-down');
                    }
                });
                //COMPROBAR TA
                $('#constantes_vitales_tension_arterial').focusout(comprobarTA);
            });
            function comprobarTA(){
                let regCTA = /\d{2,3}\/\d{2,3}$/;
                if (!$('#constantes_vitales_tension_arterial').val().match(regCTA)){
                    $('#constantes_vitales_tension_arterial').parent().append('<div id="errorTA" class="invalid-feedback">El dato introducido no tiene el formato correcto XXX/XXX</div>');
                    $('#constantes_vitales_tension_arterial').addClass('is-invalid');
                    $('#constantes_vitales_enviar').prop('disabled', true);
                }else{
                    $('#errorTA').remove();
                    $('#constantes_vitales_tension_arterial').removeClass('is-invalid');
                    $('#constantes_vitales_tension_arterial').addClass('is-valid');
                    $('#constantes_vitales_enviar').prop('disabled', false);
                }
            }
        </script>
    {% endblock %}
{% block body %}
    {{ parent() }}
        {%  set arrayRelleno = {
                'oxigeno':['Ninguno','Botella'],
                'antico':['Ninguno','Oral','Via intravenosa','Subcutáneo'],
                'hipertension':['Ninguno','Tipo primario','Tipo Secundario'],
                'diabetes':['Ninguno','Tipo 1','Tipo 2'],
                'demencia':['Ninguno','Alzheimer','Vascular','Cuerpos de Lewy','Frontotemporal','Mixta'],
                'depen':['Ninguno','Grado I','Grado II, Nivel 1','Grado II, Nivel 2','Grado III, Nivel 1','Grado III, Nivel 2'],
                'relacion':['Familiar de 1º Grado','Familiar de 2º Grado','Tutor','Pariente Lejano','Amistad'],
                'estadoCivil':['Soltero','Casado','Separado','Divorciado','Viudo'],
                'sexo':['Masculino','Femenino'],
                'tipoEstancia':['Diurna','Nocturna','Ambos'],
            }
        %}
            <div class="col-10">
                {# ERRORES DEL BACKEND #}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                {# BOTONERA DEL RESIDENTE #}
                <div class="row justify-content-center | sticky-top">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg navbar-dark">
                            <a class="navbar-brand">Añadir: </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link active cursor-pointer-menu-item | rounded" role="button" data-toggle="modal" data-target="#modalSegui">
                                        <i class="fas fa-user-nurse | pr-2 "></i>Seguimiento Enfermería
                                    </a>
                                    <a class="nav-item nav-link active cursor-pointer-menu-item | rounded" data-toggle="modal" data-target="#modalTratamiento">
                                        <i class="fas fa-pills | pr-2"></i>Tratamiento
                                    </a>
                                    <a class="nav-item nav-link active cursor-pointer-menu-item | rounded" data-toggle="modal" data-target="#modalConstantes">
                                        <i class="fas fa-heartbeat | pr-2"></i>Constantes Vitales
                                    </a>
                                    <a class="nav-item nav-link active cursor-pointer-menu-item | rounded" data-toggle="modal" data-target="#modalConsultaExt">
                                        <i class="fas fa-user-md | pr-2"></i>Consulta Externa
                                    </a>
                                    <a class="nav-item nav-link active cursor-pointer-menu-item | rounded" data-toggle="modal" data-target="#modalAntibiotico">
                                        <i class="fas fa-user-md | pr-2"></i>Antibioticos
                                    </a>
                                    <a class="nav-item nav-link active | rounded" href="{{ path('editar_residente',{id:residente.id}) }}">
                                        <i class="fas fa-edit | pr-2"></i>Información del Residente
                                    </a>
                                </div>
                            </div>
                        </nav>
{#                        CODIGO DE DESHECHO
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">#}
{#                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalSegui"><i class="fas fa-user-nurse | pr-2"></i>Añadir Seguimiento Enfermería</button>#}
{#                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalTratamiento"><i class="fas fa-pills | pr-2"></i>Añadir Tratamiento</button>#}
{#                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalConstantes"><i class="fas fa-heartbeat | pr-2"></i>Añadir Constantes Vitales</button>#}
{#                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalConsultaExt"><i class="fas fa-user-md | pr-2"></i>Añadir Consulta Externa</button>#}
{#                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalAntibiotico"><i class="fas fa-user-md | pr-2"></i>Añadir Antibioticos</button>#}
{#                            <a href="{{ path('editar_residente',{id:residente.id}) }}" class="btn btn-primary"><i class="fas fa-edit | pr-2"></i>Editar Información del Residente</a>#}
{#                        </div>#}
                    </div>
                </div>
                {# FIN BOTONERA DEL RESIDENTE #}
                <div class="contenedor | bg-white rounded p-3 m-4">
                    <h3>Información del residente</h3>
                    <div class="row d-none d-md-flex | justify-content-center | mt-4 ">
                        <div class="col-4 | mt-3">
                            <h5>Datos personales</h5>
                            <p><i class="fa fa-user | pr-2"></i>Nombre: {{ residente.nombre }} {{ residente.primerapellido }} {{ residente.segundoapellido }}</p>
                            <p><i class="fas fa-id-card | pr-2"></i>DNI: {{ residente.dni }}</p>
                            <p><i class="far fa-id-card | pr-2"></i>Número Seguridad Social: {{ residente.numss }}</p>
                            <p><i class="fas fa-calendar-alt | pr-2"></i>Fecha de Nacimiento: {{ residente.fechanac | date ('d-m-Y') }}</p>
                            <p><i class="fas fa-venus-mars | pr-2"></i>Genero: {{ arrayRelleno['sexo'][residente.sexo] }}</p>
                            <p><i class="fas fa-ring | pr-2"></i>Estado Civil: {{ arrayRelleno['estadoCivil'][residente.estadocivil] }}</p>
                            <p><i class="fas fa-map-marker-alt | pr-2"></i>Lugar de Procedencia: {{ residente.lugarprocedencia}}</p>
                            <p><i class="fas fa-hotel | pr-2"></i>Tipo de Estancia: {{ arrayRelleno['tipoEstancia'][residente.tipoestancia] }}</p>
                        </div>
                        <div class="col-4 | mt-3">
                            <h5>Datos del ingreso</h5>
                            <p><i class="far fa-calendar-alt | pr-2"></i>Fecha de Ingreso: {{ residente.fechaingreso | date ('d-m-Y') }}</p>
                            <p><i class="fas fa-user-md | pr-2"></i>Médico Atención Primaria: {{ residente.medmap.nombre }}</p>
                            <p><i class="fas fa-shoe-prints | pr-2"></i>Podólogo: {{ residente.podologia.nombre }}</p>
                            <p><i class="fas fa-house-user | pr-2"></i>Número de Habitación: {{ residente.numhabitacion }}</p>
                            <p><i class="fas fa-tshirt | pr-2"></i>Número de Lavanderia: {{ residente.numlav }}</p>
                            <p><i class="fas fa-cut | pr-2"></i>Número de Peluquería: {{ residente.peluqueria }}</p>
                            <p><i class="fas fa-building | pr-2"></i>Nombre del Seguro: {{ residente.nombreseguro }}</p>
                            <p><i class="fas fa-house-damage | pr-2"></i>Número de la Póliza: {{ residente.polizaseguro}}</p>
                        </div>
                        <div class="col-4 | mt-3">
                            <h5>Datos Médicos</h5>
                            <p><i class="fas fa-lungs | pr-2"></i>Oxigeno: {{ arrayRelleno['oxigeno'][residente.oxigeno] }}</p>
                            <p><i class="fas fa-tint | pr-2"></i>Anticoagulantes: {{arrayRelleno['antico'][residente.anticoagulante] }}</p>
                            <p><i class="fas fa-heartbeat | pr-2"></i>Hipertensión: {{ arrayRelleno['hipertension'][residente.hipertension] }}</p>
                            <p><i class="fas fa-cubes | pr-2"></i>Diabetes: {{ arrayRelleno['diabetes'][residente.diabetes]}} </p>
                            <p><i class="fas fa-brain | pr-2"></i>Demencia: {{ arrayRelleno['demencia'][residente.demencia] }}</p>
                            <p><i class="fas fa-wheelchair | pr-2"></i>Nivel de dependencia: {{ arrayRelleno['depen'][residente.niveldependencia] }}</p>
                            <p><i class="fas fa-allergies"></i>Alergias Conocidas: {{ residente.alergias }}</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row d-md-none">
                         {# ACORDEON PARA DISPOSITIVOS MOVILES #}
                        <div class="col-12">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0 | bg-primary"  data-toggle="collapse" data-target="#datosPersonales" aria-expanded="false" aria-controls="datosPersonales">
                                            <button class="btn btn-link | text-white text-center | w-100">
                                                Datos Personales
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="datosPersonales" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p><i class="fas fa-id-card | pr-2"></i> DNI: {{ residente.dni }}</p>
                                            <p><i class="far fa-id-card | pr-2"></i>Número Seguridad Social: {{ residente.numss }}</p>
                                            <p><i class="fas fa-calendar-alt | pr-2"></i>Fecha de Nacimiento: {{ residente.fechanac | date ('d-m-Y') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0 | bg-primary">
                                            <button class="btn btn-link collapsed | text-white text-center | w-100" data-toggle="collapse" data-target="#datosIngreso" aria-expanded="false" aria-controls="datosIngreso">
                                                Datos del ingreso
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="datosIngreso" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p><i class="far fa-calendar-alt | pr-2"></i>Fecha de Ingreso: {{ residente.fechaingreso | date ('d-m-Y') }}</p>
                                            <p><i class="fas fa-user-md | pr-2"></i>Médico Atención Primaria: {{ residente.medmap.nombre }}</p>
                                            <p><i class="fas fa-shoe-prints | pr-2"></i>Podólogo: {{ residente.podologia.nombre }}</p>
                                            <p><i class="fas fa-house-user | pr-2"></i>Número de habitación: {{ residente.numhabitacion }}</p>
                                            <p><i class="fas fa-tshirt | pr-2"></i>Número de lavanderia: {{ residente.numlav }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0 | bg-primary">
                                            <button class="btn btn-link collapsed | text-white text-center | w-100" data-toggle="collapse" data-target="#datosMedicos" aria-expanded="false" aria-controls="datosMedicos">
                                                Datos médicos
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="datosMedicos" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p><i class="fas fa-lungs | pr-2"></i>Oxigeno: {{ arrayRelleno['oxigeno'][residente.oxigeno] }}</p>
                                            <p><i class="fas fa-tint | pr-2"></i>Anticoagulantes: {{arrayRelleno['antico'][residente.anticoagulante] }}</p>
                                            <p><i class="fas fa-heartbeat | pr-2"></i>Hipertensión: {{ arrayRelleno['hipertension'][residente.hipertension] }}</p>
                                            <p><i class="fas fa-cubes | pr-2"></i>Diabetes: {{ arrayRelleno['diabetes'][residente.diabetes]}} </p>
                                            <p><i class="fas fa-brain | pr-2"></i>Demencia: {{ arrayRelleno['demencia'][residente.demencia] }}</p>
                                            <p><i class="fas fa-wheelchair | pr-2"></i>Nivel de dependencia: {{ arrayRelleno['depen'][residente.niveldependencia] }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>{# FIN DEL ACORDEON #}
                    {# LISTADO DE TRATAMIENTOS #}
                    <div class="row">
                        <div class="col-12">
                            <h3  >Tratamientos del residente <i class="botonCollapse fas fa-chevron-circle-down" aria-expanded="false" data-toggle="collapse" data-target="#collapseTratamientos"></i></h3>
                            <table id="collapseTratamientos" class="collapse table table-striped">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Medicamento</th>
                                        <th>Desayuno</th>
                                        <th>Comida</th>
                                        <th>Cena</th>
                                        <th>Recena</th>
                                        <th>Observaciones</th>

                                        <th><button class="btn btn-success w-100" data-toggle="modal" data-target="#modalHistorialTratamientos">Ver Historial de tratamientos</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for tratamiento in residente.getTratamientos %}
                                    {% if tratamiento.actual == true %}
                                        <tr>
                                            <td>{{ tratamiento.fecha | date ('d-m-Y') }}</td>
                                            <td>{{ tratamiento.medicamento }}</td>
                                            {% if tratamiento.desayuno == 0 %}
                                                <td> No </td>
                                            {% else %}
                                                <td> Si </td>
                                            {% endif %}
                                            {% if tratamiento.comida == 0 %}
                                                <td> No </td>
                                            {% else %}
                                                <td> Si </td>
                                            {% endif %}
                                            {% if tratamiento.cena == 0 %}
                                                <td> No </td>
                                            {% else %}
                                                <td> Si </td>
                                            {% endif %}
                                            {% if tratamiento.recena == 0 %}
                                                <td> No </td>
                                            {% else %}
                                                <td> Si </td>
                                            {% endif %}
                                            <td>{{ tratamiento.observaciones}}</td>
                                            <td><a href="{{ path('editar_tratamiento_residente',{id:residente.id, id_tratamiento:tratamiento.id}) }}" class="btn btn-warning | w-100"><i class="fas fa-edit | pr-2"></i>Editar tratamiento</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {# FIN DEL LISTADO DE TRATAMIENTOS #}
                    {# LISTADO DE CONSULTAS EXTERNAS DEL RESIDENTE #}
                    <hr/>
                    <div class="row">
                        <div class="col-12">
                            <h3>Consultas Externas del Residente</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Fecha de consulta</th>
                                    <th>Especialista</th>
                                    <th>Motivo</th>
                                    <th>Valoracion</th>
                                    <th>Cambio Tratamiento</th>
                                    <th>Pruebas Complementarias</th>
                                    <th>Proxima consulta</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cExt in residente.getConsultaExternas %}
                                    <tr>
                                        <td>{{ cExt.fechaConsulta | date ('d-m-Y') }}</td>
                                        <td>{{ cExt.especialista}}</td>
                                        <td>{{ cExt.motivoConsulta}}</td>
                                        <td>{{ cExt.valoracion}}</td>
                                        <td>{{ cExt.cambioTratamiento}}</td>
                                        <td>{{ cExt.pComp}}</td>
                                        <td>{{ cExt.proximaConsulta | date('d-m-Y')}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {# FIN DEL LISTADO DE CONSULTAS EXTERNAS DEL RESIDENTE #}
                    {# LISTADO DE ACCIDENTES DEL RESIDENTE #}
                    <div class="row">
                        <div class="col-12">
                            <h3>Accidentes del residente</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Fecha del accidente</th>
                                        <th>Consecuencias</th>
                                        <th>Actuacion DUE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for accidente in residente.getAccidentes %}
                                    <tr>
                                        <td>{{ accidente.fechaaccidente | date ('y-m-d') }}</td>
                                        <td>{{ accidente.consecuencias }}</td>
                                        <td>{{ accidente.actuaciondue }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {# LISTADO DE CONTACTOS DEL RESIDENTE #}
                    <div class="row">
                        <div class="col-12">
                            <h3>Contactos del residente</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Email</th>
                                        <th>Relación</th>
                                        <th>Urgencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for contacto in residente.getContactos %}
                                    <tr>
                                        <td>{{ contacto.nombre }}</td>
                                        <td>{{ contacto.telefono }}</td>
                                        <td>{{ contacto.email }}</td>
                                        <td>{{ arrayRelleno['relacion'][contacto.relacion] }}</td>
                                         {% if contacto.urgencia == 1 %}
                                             <td>Si</td>
                                         {% else %}
                                             <td>No</td>
                                         {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {# FIN DEL LISTADO DE ACCIDENTES #}
                    {# EL CANVAS #}
                    <div class="row mt-5">
                        <hr>
                        <div class="col-12">
                            <h3>Constantes vitales</h3>
                        </div>
                        <div class="col-12" id="canvasPadre">
                            <canvas id="graficos" class="w-100 h-100"></canvas>
                        </div>
                    </div>
                    {# FIN DEL CANVAS #}
                </div>
            </div>


        </div>{# CIERRE DEL SIDEBAR #}
    </div>
    <!-- MODALES -->

    <!-- Modal ANTIBIOTICO-->
    <div class="modal fade" id="modalAntibiotico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Antibiotico</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(form_antibiotico) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal TRATAMIENTO-->
    <div class="modal fade" id="modalTratamiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Tratamiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        {{ form(form_tratamiento) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal HISTORIAL TRATAMIENTO-->
    <div class="modal fade w-100" id="modalHistorialTratamientos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Historial Tratamientos del residente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-striped w-100">
                        <thead>
                            <tr>
                                <th>Fecha</th><th>Medicamento</th><th>Desayuno</th><th>Comida</th><th>Cena</th><th>Recena</th><th>Observaciones</th><th>Actual</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for tratamiento in residente.getTratamientos|sort((a, b) => b.actual <=> a.actual) %}
                            <tr>
                                <td>{{ tratamiento.fecha | date ('d-m-Y') }}</td>
                                <td>{{ tratamiento.medicamento }}</td>
                                {% if tratamiento.desayuno == 0 %}
                                    <td> No </td>
                                {% else %}
                                    <td> Si </td>
                                {% endif %}
                                {% if tratamiento.comida == 0 %}
                                    <td> No </td>
                                {% else %}
                                    <td> Si </td>
                                {% endif %}
                                {% if tratamiento.cena == 0 %}
                                    <td> No </td>
                                {% else %}
                                    <td> Si </td>
                                {% endif %}
                                {% if tratamiento.recena == 0 %}
                                    <td> No </td>
                                {% else %}
                                    <td> Si </td>
                                {% endif %}
                                <td>{{ tratamiento.observaciones}}</td>
                                {% if tratamiento.actual == true %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>    <!-- FIN Modal HISTORIAL TRATAMIENTOS-->

    <!-- Modal CONSULTA EXTERNA-->
    <div class="modal fade" id="modalConsultaExt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Consulta Externa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form_consultaExt) }}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group | mt-3">
                                {{ form_label(form_consultaExt.fechaConsulta) }}
                                {{ form_widget(form_consultaExt.fechaConsulta) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form_consultaExt.especialista) }}
                                {{ form_widget(form_consultaExt.especialista) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form_consultaExt.motivoConsulta) }}
                                {{ form_widget(form_consultaExt.motivoConsulta) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form_consultaExt.valoracion) }}
                                {{ form_widget(form_consultaExt.valoracion) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form_consultaExt.cambioTratamiento) }}
                                {{ form_widget(form_consultaExt.cambioTratamiento) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form_consultaExt.pComp) }}
                                {{ form_widget(form_consultaExt.pComp) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group | mt-3">
                                {{ form_label(form_consultaExt.proximaConsulta) }}
                                {{ form_widget(form_consultaExt.proximaConsulta) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    {{ form_label(form_consultaExt.enviar) }}
                    {{ form_widget(form_consultaExt.enviar) }}
                </div>
                {{ form_end(form_consultaExt) }}
            </div>
        </div>
    </div>
    <!-- Modal CONSTANTES VITALES-->
    <div class="modal fade" id="modalConstantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Constantes Vitales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   {{ form(form_constantes) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal SEGUIMIENTO ENFERMERIA-->
        <div class="modal fade" id="modalSegui" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir Constantes Vitales</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form_segui) }}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group | mt-3">
                                    {{ form_label(form_segui.actividad) }}
                                    {{ form_widget(form_segui.actividad) }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group | mt-3">
                                    {{ form_label(form_segui.valoracion) }}
                                    {{ form_widget(form_segui.valoracion) }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group | mt-3">
                                    {{ form_label(form_segui.tratamiento) }}
                                    {{ form_widget(form_segui.tratamiento) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        {{ form_label(form_segui.enviar) }}
                        {{ form_widget(form_segui.enviar) }}
                    </div>
                    {{ form_end(form_segui) }}
                </div>
            </div>
        </div>
{% endblock %}