{% extends 'base.html.twig' %}

{% block title %}Registrar Nuevo Residente{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script src="/js/ajax.js"></script>
        <script>
            $(document).ready(function(){
                $('#residente_dni').focusout(function(){

                    consultarDni($('#residente_dni').val());
                });
                $('#residente_enviar').hide();
                $('#residente_enviar').click(function(){
                    $(':input').each(function() {
                        $(this).removeClass('d-none');
                    });
                });
                $('#next').click(function(){
                    checkVoidFields(1);
                });
                $('#back').click(function(){
                    checkVoidFields(-1);
                });
                //PRUEBA DE PATRON
                // $('#residente_nombre').attr('pattern',/^[0-9!@#$%^&*()_+\-=\[\]{};'."'".':"|,.<>\/?]*$/);
            });


            function checkVoidFields(valor){
                let flag = false;
                $(':input').each(function(){
                    if($(this).is(':visible') && $(this).attr('type')!='hidden' && $(this).attr('type')!='button' && $(this).attr('type')!='submit'){
                        if($(this).val() == '' || $(this).val() ==' ' || $('#residente_dni').hasClass('is-invalid')){
                            console.log('este campo: ' + $(this).attr('name') + '  ' +  $(this).attr('type') + ' Dio un fallo')
                            flag = false;
                        }else{
                            flag = true;
                        }
                    }
                });
                if (flag == true){
                    $('#error_seccion').addClass('d-none');
                    nextStepForm(valor);
                }else{
                    $('#error_seccion').removeClass('d-none');
                }
            }
            function nextStepForm(boton){
                let bandera = false;
               $('.division').each(function(){
                   if (!$(this).hasClass('d-none') && !bandera){
                        $('.division').eq($(this).index() + boton).removeClass('d-none');
                        $(this).addClass('d-none');
                        bandera=true;
                        if( $('.division').first().is($('.division').eq($(this).index() + boton)) ){
                            $('#back').addClass('d-none');
                            $('#next').removeClass('d-none');
                            $('#residente_enviar').hide();
                        }else if ($('.division').last().is($('.division').eq($(this).index() + boton))){
                            $('#back').removeClass('d-none');
                            $('#next').addClass('d-none');
                            $('#residente_enviar').show();
                        }else {
                            $('#back').removeClass('d-none');
                            $('#next').removeClass('d-none');
                            $('#residente_enviar').hide();
                        }
                   }
               });
            }
        </script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="col-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 | text-white">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    <div id="error_seccion" class="alert alert-danger alert-dismissible fade show | d-none">
                        Compruebe que todos los campos están rellenos adecuadamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-10">
                    <h1 class="mt-5 | text-center | text-dark">Registro de Residentes</h1>
                </div>
                {{ form_start(form) }}
                <div class="col-10 | col-offset-2 | mt-3 | bg-white | rounded">
                    <div id="datosPersonales" class="form-row DatosPersonales | mb-4 | division">
                        <div class="col-12 mt-3">
                            <h3>Datos Personales del Residente</h3>
                            <hr>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.nombre) }}
                                {{ form_widget(form.nombre) }}
                                {{ form_errors(form.nombre) }}

                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.primer_apellido) }}
                                {{ form_widget(form.primer_apellido) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.segundo_apellido) }}
                                {{ form_widget(form.segundo_apellido) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.dni) }}
                                {{ form_widget(form.dni) }}
                                <div id="dniError" class="invalid-feedback d-none">
                                    El DNI introducido no es correcto o está repetido.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.num_ss) }}
                                {{ form_widget(form.num_ss) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3 pt-0 pb-0">
                                {{ form_label(form.fecha_nac) }}
                                {{ form_widget(form.fecha_nac) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3 pt-0 pb-0">
                                {{ form_label(form.lugar_procedencia) }}
                                {{ form_widget(form.lugar_procedencia) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3 pt-0 pb-0">
                                {{ form_label(form.sexo) }}
                                {{ form_widget(form.sexo) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3 pt-0 pb-0">
                                {{ form_label(form.estado_civil) }}
                                {{ form_widget(form.estado_civil) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3 pt-0 pb-0">
                                {{ form_label(form.foto) }}
                                {{ form_widget(form.foto) }}
                            </div>
                        </div>
                    </div>  {# FIN DE DATOS PERSONALES #}
                    <div id="datosIngreso" class="form-row DatosIngreso | division | d-none">
                        <div class="col-12">
                            <h3>Datos del centro</h3>
                            <hr>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group | mt-3">
                                {{ form_label(form.med_map) }}
                                {{ form_widget(form.med_map) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group | mt-3">
                                {{ form_label(form.podologia) }}
                                {{ form_widget(form.podologia) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.fecha_ingreso) }}
                                {{ form_widget(form.fecha_ingreso) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3 pt-0 pb-0">
                                {{ form_label(form.tipo_estancia) }}
                                {{ form_widget(form.tipo_estancia) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group | mt-3">
                                {{ form_label(form.num_habitacion) }}
                                {{ form_widget(form.num_habitacion) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group | mt-3">
                                {{ form_label(form.num_lav) }}
                                {{ form_widget(form.num_lav) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group | mt-3">
                                {{ form_label(form.peluqueria) }}
                                {{ form_widget(form.peluqueria) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group | mt-3">
                                {{ form_label(form.nombre_seguro) }}
                                {{ form_widget(form.nombre_seguro) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group | mt-3">
                                {{ form_label(form.poliza_seguro) }}
                                {{ form_widget(form.poliza_seguro) }}
                            </div>
                        </div>
                    </div>{# FIN DE DATOS INGRESO #}
                    <div id="datosMedicos" class="form-row DatosMedicos | division | d-none">
                        <div class="col-12 mt-3">
                            <h3>Historia clínica resumida</h3>
                            <hr>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.oxigeno) }}
                                {{ form_widget(form.oxigeno) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.anticoagulante) }}
                                {{ form_widget(form.anticoagulante) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.hipertension) }}
                                {{ form_widget(form.hipertension) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.diabetes) }}
                                {{ form_widget(form.diabetes) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.demencia) }}
                                {{ form_widget(form.demencia) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group | mt-3">
                                {{ form_label(form.nivel_dependencia) }}
                                {{ form_widget(form.nivel_dependencia) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="form-group | mt-3">
                                {{ form_label(form.alergias) }}
                                {{ form_widget(form.alergias) }}
                            </div>
                        </div>

                    </div>{# FIN DE DATOS Medicos #}
                    <div class="row | justify-content-center | botonera ">
                        <div class="col-12 text-center">
                            <div class="form-group | mt-3">
                                <button id="back" type="button" class="btn btn-primary | d-none">Anterior</button>
                                <button id="next" type="button" class="btn btn-primary">Siguiente</button>
                                {{ form_label(form.enviar) }}
                                {{ form_widget(form.enviar) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
